
*{box-sizing:border-box;margin:0;padding:0;}
body{font-family:Poppins, sans-serif;background:#f2f4f8;color:#333;}
a{text-decoration:none;color:#4B63FF;}
.navbar{background:#4B63FF;padding:20px;color:#fff;font-size:18px;}
.navbar a{color:white;margin-right:20px;font-weight:500;}
.container{width:90%;max-width:1100px;margin:30px auto;}
.card{background:white;padding:25px;border-radius:12px;
      box-shadow:0 4px 12px rgba(0,0,0,0.08);margin-bottom:25px;}
button{padding:12px 20px;background:#4B63FF;color:#fff;border:none;
       border-radius:6px;font-size:15px;cursor:pointer;}
button:hover{background:#3b52d6;}
input,select,textarea{
    width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;margin-bottom:15px;
}
table{width:100%;border-collapse:collapse;margin-top:15px;background:white;}
th{background:#4B63FF;color:white;padding:12px;}
td{padding:12px;border-bottom:1px solid #ddd;}
