body{font-family:Poppins, sans-serif;background:#f5f7fa;margin:0;}
.navbar{background:#4B63FF;padding:15px;color:#fff;}
.navbar a{color:white;margin-right:15px;text-decoration:none;}
.container{width:80%;margin:20px auto;}
table{width:100%;border-collapse:collapse;background:white;}
td,th{border:1px solid #ddd;padding:10px;}
button{padding:10px 20px;background:#4B63FF;color:white;border:none;border-radius:5px;}
